.task-tool-bar{
  padding: 10px;
  &-content{
    display: flex;
    border-radius: 4px;
    flex: 1 1;
    padding: 10px 10px;
    justify-content: flex-end;
  }
  &-calendar, &-list{
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 20px;
    transition: all 0.2s;
    margin-left: 15px;
    &:hover{
      // 实现放大效果
      transform: scale(1.3);
    }
  }
}