.main-menu{
  width: 20%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  padding: 60px 10px;
  z-index: 1;
  box-shadow: 0 0 2px 2px #c5c5c5db;

  &-content{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    flex: 1;
    padding: 20px 10px;
  }

  .menu-item{
    margin-bottom: 8px;
  }
}