.menu-item{
  background: white;
  border: 0;
  padding: 6px 10px;
  border-radius: var(--radius);
  cursor: pointer;
  text-align: left;
  position: relative;
  height: 40px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  svg{
    margin-right: 10px;
    width: 20px;
  }

  &:hover{
    background: #eee;
  }  

  &-active{
    background: var(--mainColor);
    position: relative;   
    &:hover{
      background: var(--mainColor);
    }
    .menu-item-name{
      color: white;
    }
  }

  &-count{
    position: absolute;
    right: 12px;
    background: #fff;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--mainColor);
    font-size: 12px;
    font-weight: bolder;
  }
}
